
$body-bg: #292929;

$card-bg: #E7EAF1;

$modal-content-bg: #E7EAF1;

.blur {
  backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(177, 177, 177, 0.3)!important;
  border-radius: 30px!important;
}

$font-family-sans-serif: Roboto;

$card-border-radius: 0px;

.primary-text {
  color:#E23E57;
}

$theme-colors: (
  "primary": #E23E57,
  "danger": #ff4136
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 959px,
  xl: 960px
);

$card-border-width: 0px;

$modal-inner-padding: 0rem !default;

$font-size-base:              1rem !default;

$h4-font-size: $font-size-base * 1.0;

.modal-footer {
  justify-content: flex-start!important;
}

.modal-title {
  display: flex;
  line-height: 0!important;
}

.avatar {
  width: 32px;
  height: 32px;
}

.home-div {
  height:100vh;
  background-image: url('https://i.imgur.com/XwrRF9C.jpg');
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  object-fit: fill;
}

.nav-transparent {
  background-color: transparent!important;
  position: absolute!important;
  width: 100%!important;
}

.rounded-img {
  border-radius: 20%!important;
}

.home-title {
  margin-top: 160px;
  font-size: 5em;
  color: #fff;
  text-transform: uppercase;
}

.jumbotron {
  margin-bottom: 0!important;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(0, 0, 0));
    opacity: 1;
  }
}

.jumbotron-img {
  background-position: center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  position: relative!important;
}

.caption {
  font-size: 0.9em;
  margin: 0.18rem;
}

.timestamp {
  font-size: 10px;
  color: #686868;
  padding-top: 3px;
  text-transform: uppercase;
  flex-basis: 100%;
}

.profile-div {
  display: flex;
}

.break {
  flex-basis: 100%;
}

.home-card-body {
  padding: 0!important;
}

.home-card-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.home-card-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.75rem 1.25rem 0!important;
}

.home-card-footer p {
  font-size: 0.9em;
  margin: 0px 6px 5px;
}

.modal-content {
  border-radius: 0!important;
  border: 0px solid rgba(0, 0, 0, 0.2);
}

.comment-form {
  display: flex;
  border: 0;
}

.comment-input {
  border: 0;
  padding: 0.75rem 1.25rem;
  flex-basis: 100%;
  background-color: #E7EAF1;
}

::-webkit-input-placeholder {
  font-size: 0.9em;
}

.comment-div {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 0 0 0.75rem;
}

@import "../../node_modules/bootstrap/scss/bootstrap";
